.pet-name {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.pet-category {
  font-family: "Koulen", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.pet-data {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.pet-description-button {
  cursor: pointer;
  width: 100%;
  padding: 10px 50px;
  position: relative;
  text-align: left;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  background-color: #7c0f0f;
}

.pet-description-button span {
  position: relative;
  z-index: 2;
  color: white;
}

/* .pet-description-button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  transition-duration: 0ms;
  border-radius: 8px;
}

.pet-description-button:hover::before {
  width: 100%;
  transition-duration: 500ms;
} */

.pet-description-button:hover {
  background-color: white;
}

/* .pet-description-button:hover span {
  color: black;
} */

.go-back-button:hover {
  span {
    color: black;
  }
  svg path {
    fill: black;
  }
}

.image-button {
  cursor: pointer;
}

.image-button:disabled {
  cursor: not-allowed;
}

.image-button:not(:disabled):hover svg {
  fill: black;
}

.curr-image svg path {
  stroke: black;
}

.about-text {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
