@import "tailwindcss";

@font-face {
  font-family: "Koulen";
  display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
}

@font-face {
  font-family: "Koh Santepheap";
  display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap");
}
html {
  scroll-behavior: smooth;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: #000;
  background-color: #242424;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  @apply min-h-screen;
}

.root:has(.sign-in) {
  @apply bg-[#7C0F0F];
  background-image: url("/src/assets/images/signin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .root {
    @apply pt-5;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  50% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  75% {
    height: 50%;
  }
  100% {
    opacity: 100%;
    visibility: visible;
    height: max-content;
  }
}

/* .typewriter {
  @apply overflow-hidden whitespace-nowrap;
  animation: typing 1s steps(26) forwards;
} */

@media screen and (width > 1024px) {
  .typewriter {
    @apply overflow-hidden whitespace-nowrap;
    animation: typing 1s steps(26) forwards;
  }
}

.answer {
  animation: fade-in 2s forwards;
}

.radio-question-label {
  @apply block xl:px-6 px-3 py-3 border border-[#E0E0E0] rounded-md cursor-pointer hover:bg-[#7C0F0F] hover:text-white transition-all duration-300;
}

.radio-question-input {
  @apply hidden;
}

/* input[type="checkbox"]:checked + label {
  @apply text-white bg-[#7c0f0f] border-[#7C0F0F] font-semibold;
} */

.checkbox-question-label {
  @apply border-2 px-5 py-2 rounded-md text-[#adb5bd] border-[#adb5bd] bg-white cursor-pointer select-none;
}

.checkbox-question-input:checked + label {
  @apply border-2 px-5 py-2 rounded-md text-[#fff] border-[#7C0F0F] bg-[#7C0F0F] cursor-pointer;
}
