.profile-menu {
  animation: profile-menu 300ms linear;
}

@keyframes profile-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul li {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
